<footer class="footer-new">
    <div class="footer-name-banner">
      <span class="footer-script-name">Deva Harsha</span>
    </div>

    <div class="footer-labels container">
      <span class="footer-label-left">Contact</span>
      <span class="footer-label-right">Follow the Whispers</span>
    </div>

    <div class="footer-columns container">
      <div class="footer-col footer-col-left">
        <p>Tadepalligudem, Andhra Pradesh 534101</p>
        <p>devaharshaveerla@gmail.com</p>
        <p>+91 83330 43234</p>
      </div>

      <div class="footer-col footer-col-right">
        <a href="#">INSTAGRAM</a>
        <a href="#">PORTFOLIO</a>
        <a href="#">INKITT</a>
      </div>
    </div>

    <div class="footer-bottom container">
      <span>© 2026 by Deva Harsha. All rights reserved.</span>
    </div>
  </footer>

  <script src="/js/main.js"></script>
</body>
</html>