<%- include('partials/header') %>

<div class="page-wrapper">
  <section class="about-section-prime">
    <div class="container">
      <div class="about-grid-prime">
        
        <div class="about-col-left">
          <p class="section-tag">About Me</p>
          <h2 class="section-heading-prime">
            We Develop &amp; Create Future.<br />
            <em>Stop Dreaming,</em> Start Doing.
          </h2>
          
          <div class="author-display-card">
            <div class="portrait-frame">
              <img src="/images/mine.jpeg" alt="Deva Harsha Veerla" />
            </div>
            <div class="portrait-caption-prime">
              <strong>Deva Harsha Veerla</strong>
              <span>Author &amp; Creative Director</span>
            </div>
          </div>
        </div>
        
        <div class="about-col-right">
          <div class="book-fan-deck">
            <img class="deck-book book-pos-1" src="/images/thepreservationist.png" alt="The Preservationist Book Cover" />
            <img class="deck-book book-pos-2" src="/images/whispersinthedark.png" alt="Whispers in the Dark Book Cover" />
            <img class="deck-book book-pos-3" src="/images/testedhearts.png" alt="Tested Hearts Book Cover" />
          </div>
          
          <div class="narrative-content-block">
            <p class="about-text-lead">
              Writing, for me, is an exploration of the lines dividing imagination and reality. 
            </p>
            <p class="about-text-body">
              I'm Deva Harsha Veerla, a writer and storyteller passionate about creating worlds that feel real, emotional, and immersive. From psychological thrillers like The Preservationist to supernatural mysteries such as The Deep End, my stories explore fear, love, obsession, sacrifice, and the hidden depths of the human mind. Whether through horror, romance, or suspense, I strive to create narratives that stay with readers long after the final page, offering experiences that are both thought-provoking and unforgettable.            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>

<%- include('partials/footer') %>